<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Poppins|Source+Serif+Pro" rel="stylesheet">
<style>
	/* Refactor */
	.content ol {
		padding-left: 0;
		margin: 0;
		list-style-position: inside;
	}

	.table-of-contents {
		display: none;
	}

	main {
		margin-bottom: 2em;
	}
	
	#site_footer {
		position: fixed;
		bottom: 0;
		width: 100vw;
		border-top: 1px solid #f1f1f1;
		box-shadow: 0 -3px 6px rgba(0,0,0,0.5);
	}

	#site_header,
	main,
	#site_footer {
		padding: 1em;
		background: #fff;
	}

	.home main h1 {
		font-family: "Source Serif Pro", serif;
		font-size: 4em;
		font-weight: normal;
		margin: 0.5em 0 0 0;
	}

	header span {
		font-size: large;
		margin-bottom: 0.25em;
		display: block;
		font-weight: normal;
	}

	.home main ul::before, .home main ul::after {
		content: "\26AB";
		margin: 1em;
		display: block;
	}

	#site_header h1 {
		margin: 0;	
	}

	h3 {
		font-family: "Poppins", sans-serif;
		text-indent: 0;
	}

	h4 {
		font-size: medium;
		font-weight: normal;
		font-style: italic;
		margin: 0;
		float: left;
	}

	h4::after {
		content: ".";
	}

	h4 + p {
		text-indent: 1ch;
	}

	.home footer {
		display: flex;
		justify-content: center;
		text-align: center;
	}

	/* Menu */
	.table-of-contents {
		margin: 1em 0;
	}

	.table-of-contents ul {
		list-style: none;
		text-align: left;
		padding-left: 0;
		margin: 0;
	}

	.table-of-contents ul ul {
		padding-left: 2ch;
	}

	.table-of-contents li {
		font-size: large;
		border-top: 1px solid #e9e9e9;
	}

	.table-of-contents li a {
		display: block;
		padding: 0.5em 0;
	}

	/* Layout */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		line-height: 1.15;
	}

	body {
		margin: 0;
	}

	.article-title,
	/*.content p, */
	.scriptures li {
		display: inline;
	}

	.page:not(.home) article footer {
		display: flex;
		justify-content: space-between;
	}

	main > article,
	.pager {
		max-width: 66ch;
		margin: 0 auto;
		padding: 0 1ch;
	}

	p {
		margin: 0;
	}

	.note,
	.scriptures {
		margin: 1em;
	}

	/* Alignment */
	header:not(.part-title),
	figure,
	#site_footer,
	.home main ul {
		text-align: center;
	}

	.part {
		text-align: right;
	}

	.content,
	.singular,
	.note {
		text-align: justify;
	}

	.content,
	.singular {
		text-indent: 1em;
		hyphens: auto;
	}

	#the-board-of-general-superintendents-bgs {
		text-align: center;
		hyphens: none;
		font-size: medium;
		font-style: italic;
		margin-bottom: 0;
	}
	
	[data-section="foreword"] main ul {
		margin-top: 0;
		text-transform: uppercase;
	}

	/* Fonts */
	html {
		font-family: 'Source Serif Pro', serif;
	}

	h1,
	.article-title > h3::before,
	.article-title h3,
	.pager {
		font-family: "Poppins", sans-serif;
	}

	.part-title {
		font-size: x-large;
	}

	.article-title > h3::before,
	.article-title h3,
	.subheads li {
		font-size: large;
	}

	.note::before,
	.note,
	.scriptures {
		font-size: small;
	}

	.note::before {
		content: "NOTE: ";
	}

	#site_footer {
		font-size: x-small;
	}

	.article-title > h3::before,
	.article-title h3,
	.content::before,
	.content > section::before,
	.note::before,
	.pager {
		font-weight: 600;
	}

	h1,
	.chapter h2,
	.chapter-title,
	.subheads,
	.home main ul,
	.publisher-name {
		text-transform: uppercase;
	}

	.pager {
		text-transform: capitalize;
	}

	/* Colors */
	a {
		color: #428bca;
	}

	a:focus,
	a:hover {
		color: #2a6496;
	}

	/* Links */
	h1 a {
		text-decoration: none;
	}

	/* List Styles */
	.scriptures,
	.subheads,
	.home main ul,
	[data-section="foreword"] ul {
		list-style: none;
		padding: 0;
	}

	.scriptures li::after {
		content: ";";
	}

	.scriptures li:last-of-type::after {
		content: "";
	}

	.subheads li,
	.home main ul li {
		margin-bottom: 1em;
		font-size: larger;
	}

	[data-section="foreword"] main ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
	/* Grid Layout on Larger Screens */
	@media  screen and (min-width: 900px){
		body {
			display: grid;
			background: #f1f1f1;
			grid-template-columns: 320px minmax(320px, 1fr);
			grid-gap: 1em;
		}
		
		#site_header {
			margin-left: 1em;
		}

		main {
			margin-right: 1em;
		}

		#site_header,
		main {
			margin-top: 1em;
			margin-bottom: 3em;
			grid-row: 1;
			box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
		}
		
		.table-of-contents {
			display: block;
		}
	}

	/* Counters
	body {
		counter-reset: part;
	}

	main {
		counter-reset: article;
	}

	.part-title h2::before {
		counter-increment: part;
		content: "Part "counter(part, upper-roman)" ";
		display: block;
		font-size: medium;
		font-weight: normal;
	}

	.chapter-articles {
		counter-reset: paragraph;
	}

	.article-title h3::before {
		counter-increment: article;
		content: "Article "counter(article, upper-roman)". ";
	}

	.content::before {
		counter-increment: paragraph;
		content: ""counter(paragraph, decimal)".";
	}

	.article {
		counter-reset: subparagraph;
	}

	.content > section::before {
		counter-increment: subparagraph;
		content: counter(paragraph)"."counter(subparagraph)".";
	}
	*/
</style>
